@media (min-width: 576px) {
	.portfolio {
		.bg-icon {
			position: absolute;
			display: block;
			opacity: 0.05;
			font-size: 40px;
			z-index: 5;

			&--one {
				top: 200%;
				width: 20%;
				animation: rotate-right 120s infinite linear;
			}

			&--two {
				top: 0%;
				left: 50%;
				width: 30%;
				animation: rotate-right 130s infinite linear;
			}

			&--three {
				top: 60%;
				left: 36%;
				width: 50%;
				animation: rotate-left 110s infinite linear;
			}

			&--four {
				top: 35%;
				left: 20%;
				width: 15%;
				animation: rotate-right 100s infinite linear;
			}
		}
	}
}

@media (min-width: 992px) {
	.aboutme {
		.card-con {
			display: flex;
			justify-content: center;
			align-items: center;

			.text{
				font-size: 3em;
			}
		}

		&-hover{
			font-size: 5em;
		}
	}
}
